/* Палитра цветов */
/* #757575 основной цвет текста #757575  */
/* #212121 вторичный цвет текста #212121 */
/* #2196F3 цвет лого (Web) в шапке и подвале; цвет акцента; фоновый цвет secondaty button в герое   #2196F3 */
/* #000000 цвет лого (Studio) в шапке #000000  */
/* #2F303A цвет фона герой и подвал #2F303A */
/* #FFFFFF цвет фона общий; цвет лого (Studio) в подвале; цвет текста в secondary button (кнопка в герое); цвет текста при hover и focus в primary button (в портфолио)   #FFFFFF */
/* #F5F4FA фоновый цвет "Команда студии" и фоновый цвет кнопок в Портфолио #F5F4FA */
/* #ECECEC цвет полоски под шапкой #ECECEC */
/* #EEEEEE цвет обводки картинок на странице "портфолио" #EEEEEE  */
/* #188CE8 цвет кнопки при ховер/фокус в Герое! #188CE8 */
/* цвет почты и телефона в подвале rgba(255, 255, 255, 0.6); */

/*   Стили текста для подключения в боди
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --hero-footer-background-color: #2f303a;
  --body-and-our-team-background-color: #ffffff;
  --footer-logo-collor: #ffffff;
  --button-primary-color: #f5f4fa;
  --background-our-team-color: #f5f4fa;
  --logo-studio-in-header-collor: #000000;
  --mail-and-tell-collor: rgba(255, 255, 255, 0.6);
  --address-collor: #ffffff;
  --border-header-collor: #ececec;
  --border-portfolio-color: #eeeeee;
  --hover-focus-button-secondary-collor: #188ce8;
}

/* Body */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-and-our-team-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* main */

/* шапка */

.header-logo,
.footer-logo {
  color: var(--logo-studio-in-header-collor);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
}

.web-logo {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
}
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--accent-color);
  font-weight: 500;
}

.header {
  border-bottom: 1px solid var(--border-header-collor);
  margin-bottom: -94px;
}

/* герой */

.hero {
  background: var(--hero-footer-background-color);
}

.hero-title {
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* особенности студии */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-peculiarities {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-paragraph {
  font-weight: 400;
  line-height: 1.71;
}

/* чем занимается ВебСтудия */

/* команда студии */

.our-team {
  background-color: var(--background-our-team-color);
}

.section-team > li {
  background-color: var(--body-and-our-team-background-color);
}

.section-team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  font-size: 16px;
}

/* подвал */

.footer {
  background: var(--hero-footer-background-color);
  margin-top: -94px;
}

.footer-logo {
  color: var(--footer-logo-collor);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.address {
  font-style: normal;
}

.address .address-text {
  color: var(--address-collor);
}

.footer-address a {
  color: var(--mail-and-tell-collor);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* button */

.button {
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
}

.button.primary {
  color: var(--title-text-color);
  background-color: var(--button-primary-color);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: inherit;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--button-primary-color);
  background-color: var(--accent-color);
}

button.secondary {
  color: var(--button-primary-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--hover-focus-button-secondary-collor);
}

/* портфолио */

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.88;
}
