/* основной цвет текста #757575  */
/* вторичный цвет текста #212121 */
/* цвет лого в шапке #2196F3 и #000000 */
/* цвет лого в подвале #2196F3 #FFFFFF */
/* цвет акцента #2196F3 */
/* цвет кнопки в Герое #2196F3 */
/* цвет текста при нанведении в кнопке #FFFFFF */
/* цвет фона герой и подвал #2F303A*/
/* цвет фона общий #FFFFFF */
/* фоновый цвет "Команда студии" #F5F4FA */
/* цвет полоски под шапкой #ECECEC */
/* цвет почты и телефона в подвале rgba(255, 255, 255, 0.6); */
/* цвет обводки картинок на странице "портфолио" #EEEEEE  */
/*   Стили текста для подключения в боди
font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-footer-background-color: #2f303a;
  --body-background-color: #ffffff;
  --hero-title-footer-logo-address-collor: #ffffff;
  --background-team-and-button-primary-color: #f5f4fa;
}

/* Body */

.page {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--body-background-color);
  color: var(--primary-text-color);
}

.section-title {
  color: var(--title-text-color);
}

/* main */

/* шапка */
.logo {
  color: #000000;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.web-logo {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-nav .link {
  color: var(--title-text-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

/* герой */

.hero {
  background: var(--hero-footer-background-color);
}

.hero-title {
  color: var(--hero-title-footer-logo-address-collor);
}

/* особенности студии */

.section-list .title {
  color: var(--title-text-color);
}

/* чем занимается ВебСтудия */

/* команда студии */

.our-team {
  background-color: var(--background-team-and-button-primary-color);
}

.section-team .title {
  color: var(--title-text-color);
}

/* подвал */

.footer {
  background: var(--hero-footer-background-color);
}

.footer-logo {
  color: var(--hero-title-footer-logo-address-collor);
}

.address {
  font-style: normal;
}

.address .address-text {
  color: var(--hero-title-footer-logo-address-collor);
}

.footer-address a {
  color: rgba(255, 255, 255, 0.6);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* button */

.button {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.button.primary {
  color: var(--title-text-color);
  background-color: var(--background-team-and-button-primary-color);
  font-weight: 500;
  line-height: 26px;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--hero-title-footer-logo-address-collor);
  background-color: var(--accent-color);
}

button.secondary {
  color: var(--hero-title-footer-logo-address-collor);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}
